<!DOCTYPE html>
<html>
  <head> 
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Crypto Moon Tracker</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <link rel="icon" href="http://cryptomoontracker.com/images/download.png" type="image/PNG" sizes="32x32">
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="/admin/vendor/bootstrap/css/bootstrap.min.css">
    <!-- Font Awesome CSS-->
    <link rel="stylesheet" href="/admin/vendor/font-awesome/css/font-awesome.min.css">
    <!-- Custom Font Icons CSS-->
    <link rel="stylesheet" href="/admin/css/font.css">
    <!-- Google fonts - Muli-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli:300,400,700">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="/admin/css/style.default.css" id="theme-stylesheet">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="/admin/css/custom.css">
    
  </head>
  <body>
    {{#if user}}
    <header class="header">   
      <nav class="navbar navbar-expand-lg">        
        <div class="container-fluid d-flex align-items-center justify-content-between">
          <div class="navbar-header">
            <!-- Navbar Header-->
            <a href="/" class="navbar-brand cstm-navbar-brand">
                 
              {{#if user.isAdmin}}
              <div class="brand-text brand-sm visible"><strong style="color:#e50000">C</strong><strong style="color:#35f0358a">M</strong><strong style="color:#ffff">T</strong></div>
               <div class="brand-text brand-big "><strong style="color:#e50000">CRYPTO</strong><strong style="color:#35f0358a">MOON</strong><strong style="color:#ffff">TRACKER</strong></div>
             {{else}}             
             <div class="brand-text brand-big visible"><strong style="color:#e50000">CRYPTO</strong><strong style="color:#35f0358a">MOON</strong><strong style="color:#ffff">TRACKER</strong></div>
             <div class="brand-text brand-sm "><strong style="color:#e50000">C</strong><strong style="color:#35f0358a">M</strong><strong style="color:#ffff">T</strong></div>
              
             {{/if}}
            </a>
            <!-- Sidebar Toggle Btn-->
            {{#if user.isAdmin}}
            <button class="sidebar-toggle active"><i class="fa fa-long-arrow-right"></i></button>
            {{/if}}
          </div>
          <div class="right-menu list-inline no-margin-bottom">  
             
            <!-- Search Box -->
              <div class="list-inline-item logout">   
                   <div class="search-box-div">   
               <strong>Search:</strong> 
               <input type="text" name="search" autocomplete="off"  id="myInput" onkeyup="myFunction()">
               </div>  
            </div>
            <!--End-->
            <!--Create token menu-->
              <div class="list-inline-item logout">    
                        
                <a class="btn btn-secondar" href="/createtoken" ><i class="fa fa-fw fa-lg fa-circle"></i><strong> Add Token</strong> </a>
            </div>
            <!--End-->
            <!--Refersh-->
            <div class="list-inline-item logout">    
                        
              <a href="" onclick="window.location.reload()">         
               <i class="fa fa-refresh fa-1x refresh-font" aria-hidden="true" title="Refresh"></i>
            </a>
            </div>
            <!--End-->
            <!--Sound icon mute and Unmute-->
             <div class="list-inline-item logout">    
                        
                <form id="form1" action="/mutevolume" method="POST">
              <a class="btn btn-secondar"  style="margin-top:15px;">
              {{#if user.isMute}}
                  <input type="image" id="volume" class="volenable-icons"  name="volumenable" src="../images/volenable.ico" title="Unmute" > 
              {{else}}
                  <input type="image"  id="volumedisable" class="volenable-icons" src="../images/volumedisable.ico" title="Mute" style="display:display">
              {{/if}}
              </a>
          </form>    
            </div>
            <!--End-->
             <!-- Log out -->
              <div class="list-inline-item logout">    
                        
                <a id="logout" href="/users/logout" class="nav-link"> <strong>Logout </strong>  <i class="icon-logout"></i></a>
            </div>
             <!--End Log out -->
          </div>
        </div>
      </nav>
    </header>
    <div class="d-flex align-items-stretch">
        {{#if user.isAdmin}}
      <!-- Sidebar Navigation-->
      <nav id="sidebar" class="shrinked" >
        <!-- Sidebar Header--> 
         <div class="sidebar-header d-flex align-items-center">
       
          <div class="title">
            <h1 class="h4">{{user.username}}</h1>
            {{!-- <p>Admin</p> --}}
          </div>
        </div>
        <!-- Sidebar Navidation Menus-->        
        <ul class="list-unstyled">
                <li class="active"><a href="/"> <i class="icon-dashboard"></i>Dashboard </a></li>
                <li class="active"><a href="/admintokenview"> <i class="fa fa-bars"></i>View TokenList </a></li>
                <li class="active"><a href="/createtokenlist"> <i class="fa fa-plus"></i>Add New TokenList </a></li>                
       
        </ul>    
       
      </nav>
     <!-- Sidebar Navigation end-->
     {{!-- <div class="page-content "> --}}
   {{/if}}

   <div class="page-content " style="width:100%">
       <div class="page-container">
         <div class="col-md-12">
           <div class="tile">
             <div class="tile-body">
               {{{body}}}
             </div>
           </div>
         </div>
       </div>
           </div>
            {{#if user.isAdmin}}
             {{else}}
             <!--Footer-->
         <footer class="footer">
         <div class="footer__block block no-margin-bottom">
           <div class="container-fluid text-center">
           <p class="no-margin-bottom">Price information  provided by <a href="https://www.cryptocompare.com/api" target=" ">Cryptocompare API</a>.</p>
           </div>
         </div>
       </footer>
            {{/if}}

   </div>
     {{else}}
      {{#if success_msg}}
        <div class="alert alert-success">{{success_msg}}</div>
      {{/if}}

      {{#if error_msg}}
        <div class="alert alert-success">{{error_msg}}</div>
      {{/if}}

      {{#if error}}
        <div class="alert alert-success">{{error}}</div>
      {{/if}}
      {{{body}}}
    {{/if}}
    <!-- JavaScript files-->
    <script src="/admin/vendor/jquery/jquery.min.js"></script>
    <script src="/admin/vendor/popper.js/umd/popper.min.js"> </script>
    <script src="/admin/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/admin/vendor/jquery.cookie/jquery.cookie.js"> </script>
    {{!-- <script src="/admin/vendor/chart.js/Chart.min.js"></script> --}}
    <script src="/admin/vendor/jquery-validation/jquery.validate.min.js"></script>
    {{!-- <script src="/admin/js/charts-home.js"></script> --}}
    <script src="/admin/js/front.js"></script>
    
    
    <!-- Page specific javascripts-->
    <!-- Data table plugin-->
    <script type="text/javascript" src="/js/plugins/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="/js/plugins/dataTables.bootstrap.min.js"></script>
    <script type="text/javascript">$('#sampleTable').DataTable();</script>
  </body>
</html>