   <div class="row">
        <div class="col-md-6">
          <div class="tile">
            <div>
              <h3 class="tile-title">Token</h3>
              {{#if error_msg}}
                <div class="alert alert-danger">{{error_msg}}</div>
              {{/if}}
            </div>
            
            <div class="tile-body">
              <form class="form-horizontal" method="POST" action="/createtoken">
              <div class="form-group row">
             
                  <label class="control-label col-md-3">TokenName</label>
                  <div class="col-md-7">
                   {{!-- <select name="tokencode"  class="form-control col-md-8" id="drptokencode" onchange="getTokenListName()"> --}}
                       <select name="tokencode"  class="form-control col-md-8" >
                        {{#each data}}    
                          <option value="{{tokencode}}">{{tokenname}}</option>
                         
                         {{/each}}
                    </select>
                  </div>
                 {{!-- <p class="control-label col-md-2" id="p"></p> --}}
                </div>              

          
             <div class="form-group row">
                  <label class="control-label col-md-3">Currency</label>
                  <div class="col-md-7">
                   <select name="currency"  class="form-control col-md-8">
                      {{#each currencylistarray as | item |}}    
                          <option value="{{item}}">{{item}}</option>
                         {{/each}} 
                         
                    </select>
                  </div>
                </div>
                {{!-- <div class="form-group row">
                  <label class="control-label col-md-3">Currency</label>
                  <div class="col-md-8">
                    <input class="form-control col-md-8"  style='text-transform:uppercase' type="text" placeholder="Currency Token" name="currency">
                  </div>
                </div> --}}
                <div class="form-group row">
                  <label class="control-label col-md-3">Min Value</label>
                  <div class="col-md-7">
                    <input class="form-control col-md-8" type="text"  onkeypress="return isNumberKey(event)" placeholder="Min Value" value="" name="min" autocomplete="off" required>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="control-label col-md-3">Max Value</label>
                  <div class="col-md-7">
                    <input type="text" class="form-control col-md-8" rows="4"  onkeypress="return isNumberKey(event)" value="" placeholder="Max Value" autocomplete="off" name="max" required></textarea>
                  </div>
                </div>
                {{!-- <div class="form-group row">
                  <label class="control-label col-md-3">Current value</label>
                  <div class="col-md-8">
                    <input type="text" class="form-control col-md-8" rows="4" placeholder="" name="currentvalue"></textarea>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="control-label col-md-3">lastvalues</label>
                  <div class="col-md-8">
                    <input type="text" class="form-control col-md-8" rows="4" placeholder="" name="lastvalue"></textarea>
                  </div>
                </div> --}}
                <div class="tile-footer">
                  <div class="row">
                    <div class="col-md-8 col-md-offset-3">
                      <button class="btn btn-primary" type="submit"><i class="fa fa-fw fa-lg fa-check-circle"></i>Add</button>&nbsp;&nbsp;&nbsp;<a class="btn btn-secondary" href="/"><i class="fa fa-fw fa-lg fa-check-circle"></i>Cancel</a>
                    </div>
                  </div>
                </div>
                <div class="tile-footer">
                  <div class="row">
                    <div class="col-md-8 col-md-offset-3">
                        {{#each message}}
                    {{message}}
                    {{/each}}
                    </div>
                  </div>
                </div>
              </form>
            </div>

          </div>
        </div>
        <div class="col-md-6">
          {{#if errors}}
              {{#each errors}}
                  <div class="alert alert-danger">{{msg}}</div>
              {{/each}}
          {{/if}}

        </div>
        {{!-- *****Javascript number validation******* --}}
       <script type="text/javascript">
       function isNumberKey(evt)
       {
          var charCode = (evt.which) ? evt.which : evt.keyCode;
          if (charCode != 46 && charCode > 31 
            && (charCode < 48 || charCode > 57))
             return false;

          return true;
       }
       </script>

{{!-- javascript code for show tokenlist name with dropdown selection --}}
    
    </div>
    <script src="https://npmcdn.com/js-alert/dist/jsalert.min.js"></script>