<div class="row right-add-token" style="float:right">
 <div class="search-box-div">
     <strong>Search:</strong> 
     <input type="text" name="search" autocomplete="off"  id="myInput" onkeyup="myFunction()">
    </div>
   
    <a href="" onclick="window.location.reload()">         
         <i class="fa fa-refresh fa-2x" style="margin-top: 24px;font-size:24px;" aria-hidden="true"></i>
    </a>
    <a class="btn btn-secondar" href="/createtoken" style="margin-top:15px;"><i class="fa fa-fw fa-lg fa-circle"></i>Add New Coin</a>
    <form id="form1" action="/mutevolume" method="POST">
        <a class="btn btn-secondar"  style="margin-top:15px;">
         {{#if user.isMute}}
            <input type="image" id="volume"  name="volumenable" src="../images/volenable.png" title="Mute" height="22px" width="22px"  >
        {{else}}
            <input type="image"  id="volumedisable" src="../images/volumedisable.png" title="Unmute"  height="22px" width="22px" style="display:display">
        {{/if}}
        </a>
    </form>    
</div>

  
  <div class="table-responsive"> 
    <table class="table table-striped table-sm" id="sampleTable">
        <br>
        <thead>
            <tr  style="text-align:center;">
                <th>Token</th>
                <th>Pair</th>
                <th>Current Price</th>
                <th>Min Price</th>
                <th>Max Price</th>
                <th>Action</th> 
          </tr>
        </thead>
        <tbody>
            {{#each data}}               
            <tr class="trdata_{{colorclass}}" style="text-align:center;" >            
                <td  class={{colorclass}}> {{tokencode}} - {{#each tokenlist}} {{tokenname}} {{/each}}</td>
                <td  class={{colorclass}}> {{tokencode}}/{{currency}}</td> 
                <td  class={{colorclass}}> {{currentvalue}} {{currency}}</td>           
                <td  class={{colorclass}}> {{min}} </td>
                <td  class={{colorclass}}> {{max}} </td>    
                <td class="last-child">
                      <a href='/edit/{{_id}}'><i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i></a>
                      <a href='/delete/{{_id}}' onclick='return confirm("Are you sure you want to delete?")'><i class="fa fa-trash fa-2x" aria-hidden="true"></i></a>       
               </td>                        
            </tr>
            {{/each}}
        </tbody> 
    </table>
   </div> 
   <script>
        //Search token details base on pair/token
function myFunction() 
{
    var input, filter, table, tr, td, i;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    table = document.getElementById("sampleTable");
    tr = table.getElementsByTagName("tr");
    for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
    if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
    tr[i].style.display = "";
    } else {
    tr[i].style.display = "none";
    }
    }       
    }
    
}
   </script>
<script src="/admin/vendor/jquery/jquery.min.js"></script>
<script type='text/javascript'> 
   
    audioNotification({{user.isMute}});    
    function audioNotification(isMute)
    {
      
        if(isMute)
        return;
        
        let myTable=document.getElementById("sampleTable");
        let tbRows=myTable.getElementsByTagName("tr");
        let audioNotificationForGreen = new Audio('./sound/jackpot.mp3');
        let audioNotificationForRed = new Audio('./sound/bell.mp3');
        let interval=1;
        for(let i=0; i < tbRows.length; i++)
            {
                    if(tbRows[i].className == "trdata_black")
                    {
                    continue;
                    }
                
                if(tbRows[i].className == "trdata_green")
                    {
                        setTimeout(function(){
                    // alert("trdata_green "+(i));
                        audioNotificationForGreen.play();
                        }, 4000 * interval)
                    }
                else if(tbRows[i].className == "trdata_red")
                    {
                    setTimeout(function(){
                    //  alert("trdata_red "+(i));
                        audioNotificationForRed.play();
                        }, 4000 * interval)
                    }

                interval++;
            }
    }  
setTimeout("location.reload();",12000);  

  </script>

<style>

    .green{background-color:green; animation-duration:6000ms; animation-name: blink; animation-iteration-count:infinite; animation-direction: alternate }
    .red{background-color:red; animation-duration: 3000ms; animation-name: blink1; animation-iteration-count:infinite; animation-direction: alternate }
    .trdata{color: white; animation-duration: 2000ms; animation-name: blink3; animation-iteration-count:infinite; animation-direction: alternate }
    .tbcolor{background-color: grey; animation-duration: 2000ms; animation-name: blink4; animation-iteration-count: :infinite; animation-direction: alternate }
    @keyframes blink {
    from { background-color: #2f9e49; }
        to { background-color:#0606065c;}
    }
    @keyframes blink1 {
    from { background-color: red; }
        to { background-color:#0606065c }
    }
</style>