<div class="row" style="float:right">
    {{!-- <a  href="/index"><img src="images/Refresh.png" style="height: 30px;margin-top: 5px;margin-right: 10px;"/></a> --}}
    {{!-- <button id="btnimg"  value="Referesh Page" onclick="window.location.reload()"> <span class="glyphicon glyphicon-refresh"></span></button> --}}
    <a href="" onclick="window.location.reload()">
         
         <i class="fa fa-refresh fa-2x" style="margin-top: 22px;margin-right: 10px;" aria-hidden="true"></i>
       </a>
    <a class="btn btn-secondar" href="/createtoken" style="margin-top:15px;"><i class="fa fa-fw fa-lg fa-circle"></i>Add New Coin</a>
</div>

<table class="table table-hover table-bordered" id="sampleTable"  >
    <br>
    <thead>
        <tr  style="text-align:center;">
           
        <th>Token</th>
        <th>Pair</th>
         <th>Current Price</th>
        <th>Min Price</th>
        <th>Max Price</th>
        <th>Edit</th> 
        <th>Delete</th>              
        
       
        </tr>
    </thead>
    <tbody>
        {{#each data}}               
        <tr class="trdata" style="text-align:center;">
           
            <td class={{colorclass}} >{{tokencode}}</td>
            <td  class={{colorclass}}> {{tokencode}}/{{currency}} </td> 
            <td class={{colorclass}}>{{currentvalue}}</td>           
            <td  class={{colorclass}}> {{min}} </td>
            <td  class={{colorclass}}> {{max}} </td>    
              <td>
                  <a href='/edit/{{_id}}'><i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i></a> </td>
             <td>  <a href='/delete/{{_id}}' onclick='return confirm("Are you sure you want to delete?")'><i class="fa fa-trash fa-2x" aria-hidden="true"></i></a>       
           
               
            </td>                 
        </tr>
        {{/each}}
     </tbody>
      
</table>
 <div></div>
<script type='text/javascript'>
setTimeout("location.reload();",30000);
    

</script>
</script>
<style>
 tr:nth-child(even) {background-color: gray;}
 .green{background-color:green; animation-duration:6000ms; animation-name: blink; animation-iteration-count:infinite; animation-direction: alternate }
 .red{background-color:red; animation-duration: 3000ms; animation-name: blink1; animation-iteration-count:infinite; animation-direction: alternate }
 .trdata{color: white; animation-duration: 2000ms; animation-name: blink3; animation-iteration-count:infinite; animation-direction: alternate }
 .tbcolor{background-color: grey; animation-duration: 2000ms; animation-name: blink4; animation-iteration-count: :infinite; animation-direction: alternate }
@keyframes blink {
  from { background-color: #2f9e49; }
    to { background-color:#0606065c;}
}
@keyframes blink1 {
  from { background-color: red; }
    to { background-color:#0606065c }
}
</style>