<div class="row" style="float:right">
    <a class="btn btn-secondar" href="/createtoken"><i class="fa fa-fw fa-lg fa-circle"></i>Add New Coin</a>
</div>

<table class="table table-hover table-bordered" id="sampleTable">
    <thead>
        <tr>
        <th>Token Name</th>
        <th>Currency Of Reference</th>
         <th>Current Price</th>
        <th>Min Price</th>
        <th>Max Price</th>
       
        </tr>
    </thead>
    <tbody>
        {{#each data}}               
        <tr>
            <td>{{tokencode}}</td>
            <td> {{currency}} </td> 
            <td>{{currentvalue}}</td>           
            <td> {{min}} </td>
            <td> {{max}} </td>                    
        </tr>
        {{/each}}
     </tbody>
</table>